<!DOCTYPE html>
<html>
<head>
  <title> Homepage - 40272321 </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <!-- homepage.html -->
</head>
<body>

  <!-- gonna have a side navbar this time, then two central interactable
  images that link to their subpages of anime and games, just to showcase
  some url hierarchy i.e. x/anime/bebop or x/games/nier -->


<div class="sidenav">
  <a href="/"><img border="0" src="static/home.png" width="100" height="100"></a>
  <a href="/"><img border="0" src="static/back.png" width="100" height="100"></a>
</div>


<div class="main">
  <div class="centertext">
    <h1>40272321</h1>
    <h2>Connor Ness</h2>
    <h6></h6>
        <li><a href="anime">Anime</a></li>
        <li><a href="games">Games</a></li>
  </div>
</div>

<!-- aim to have those images fade on hover and the like, I'd also like
a textbox description to show on hover with the image being faded behind -->
</body>
</html>
